<template>
  <v-card>
    <v-card-text>
      <div>
        <h3 class="text-h6 title font-weight-medium">Timeline update aplikasi</h3>
      </div>
      <div class="profiletimeline position-relative mt-7">
        <div class="sl-item mt-2 mb-3">
          <div class="sl-left float-left me-3">
            <img src="/images/users/1.jpg" width="40" alt="user" class="rounded-circle" />
          </div>
          <div class="sl-right">
            <div>
              <div class="d-md-flex align-items-center">
                <h3>Admin</h3>
                <small class="sl-date text-muted ms-1">5 minutes ago</small>
              </div>

              <p>Rilis apps</p>
              <div class="v-row mt-3">
                <div class="v-col-lg-3 v-col-md-6 mb-3">
                  <img src="/images/big/img1.jpg" width="100" alt="user" />
                </div>
                <div class="v-col-lg-3 v-col-md-6 mb-3">
                  <img src="/images/big/img2.jpg" width="100" alt="user" />
                </div>
                <div class="v-col-lg-3 v-col-md-6 mb-3">
                  <img src="/images/big/img3.jpg" width="100" alt="user" />
                </div>
                <div class="v-col-lg-3 v-col-md-6 mb-3">
                  <img src="/images/big/img4.jpg" width="100" alt="user" />
                </div>
              </div>
              <a class="text-decoration-none text-red"><v-icon>mdi-heart</v-icon> 999 Likes</a>
            </div>
          </div>
        </div>
        <v-divider></v-divider>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "Timeline",

};

</script>
<style lang="scss">
.profiletimeline {
  position: relative;
  padding-left: 40px;
  margin: 10px 10px 0 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  .sl-item {
    margin-top: 8px;
    margin-bottom: 30px;
    display: flex;
  }

  .sl-left {
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
  }
}
</style>
