<script setup lang="ts">
import { onMounted } from "vue";
import GoogleChart from "./Gchart";
const elementVisible = ref(false);

onMounted(() => {
  setTimeout(() => (elementVisible.value = true), 350);
});
</script>

<template>
  <!-- ------------------------------------ -->
  <!-- html -->
  <!-- ------------------------------------ -->

  <v-card>
    <v-card-text>
      <div class="d-sm-flex align-center ">
        <div>
          <h3 class="text-h6 title font-weight-medium">Laporan penjualan</h3>
        </div>
        <v-spacer></v-spacer>
      </div>
      <div class="mt-5 relative" v-if="elementVisible"><GoogleChart /></div>
    </v-card-text>
  </v-card>
</template>
