<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useDisplay } from "vuetify";
import Sidebar from "~~/components/layoutComponents/sidebar/Sidebar.vue";
import Header from "~~/components/layoutComponents/header/Header.vue";
useMeta({
  title: "Memorable Box",
});

const drawer = ref(undefined || true);
const innerW = window.innerWidth;
const { mdAndUp, mdAndDown } = useDisplay();
onMounted(() => {
  if (innerW < 950) {
    drawer.value = !drawer.value;
  }
});
</script>

<style>
textjudul {
  text-decoration: none;
}
</style>
<template>
  <div>
    <v-app>
      <!-- ---------------------------------------------- -->
      <!---Header -->
      <!-- ---------------------------------------------- -->
      <v-app-bar elevation="10" color="">
        <div class="pe-5">
          <div class="d-flex">
            <v-img src="https://telegra.ph/file/8b513cc077bd21f8d9a93.png" alt="Memorable Box" width="50" height="50" 
              class="mr-4" style="border-radius: 5px;" />
            <!-- <h2 class="font-weight-black text-black ">Memorable Box</h2> -->
          </div>
        </div>
        <v-app-bar-nav-icon class="" @click="drawer = !drawer" />
        <v-spacer />
        <!-- ---------------------------------------------- -->
        <!-- User Profile -->
        <!-- ---------------------------------------------- -->
        <Header />
      </v-app-bar>
      <v-main>
        <!-- ---------------------------------------------- -->
        <!---Sidebar -->
        <!-- ---------------------------------------------- -->
        <v-navigation-drawer left :permanent="mdAndUp" elevation="10" app :temporary="mdAndDown" v-model="drawer"
          expand-on-hover theme="dark">
          <Sidebar />
        </v-navigation-drawer>
        <v-container fluid class="page-wrapper">
          <slot />
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>
