<template>
  <v-card>
    <v-card-text>
      <div>
        <h2 class="mb-7">{{ title }}</h2>
      </div>
      <br />
      <v-row>
        <v-col cols="12" sm="12" lg="8">
          <v-autocomplete v-model="input.tema" :items="tema.text" dense filled label="Tema"></v-autocomplete>
        </v-col>
        <v-col>
          <v-text-field v-model="input.jumlah" label="Jumlah" :counter="invoice.counter"
            :error-messages="invoice.errors" required></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" lg="12">
          <v-text-field v-model="input.harga" label="harga" :error-messages="invoice.errors" disabled></v-text-field>
        </v-col>
      </v-row>
      <v-row class="mt-3">
        <v-spacer></v-spacer>
        <v-btn depressed color="primary">
          Tambah?
        </v-btn>
      </v-row>

    </v-card-text>

  </v-card>
</template>

<script>
export default {

  data() {
    return {
      title: "Buat Invoice",
      invoice: {
        title: "Buat Invoice",
        counter: 50,
        errors: [],
      },
      input: {
        tema: '',
        jumlah: '',

      },
      tema: [
        {
          text: 'Rustic Wood',
          value: 'rustic',
        },
        {
          text: 'Modern',
          value: 'modern',
        },
        {
          text: 'Minimalist',
          value: 'minimalist',
        },
        {
          text: 'Classic',
          value: 'classic',
        },
        {
          text: 'Vintage',
          value: 'vintage',
        },
        {
          text: 'Retro',
          value: 'retro',
        },
        {
          text: 'Elegant',
          value: 'elegant',
        },
        {
          text: 'Romantic',
          value: 'romantic',
        },
        {
          text: 'Bohemian',
          value: 'bohemian',
        },
        {
          text: 'Industrial',
          value: 'industrial',
        },
        {
          text: 'Nordic',
          value: 'nordic',
        },
        {
          text: 'Scandinavian',
          value: 'scandinavian',
        },
        {
          text: 'Contemporary',
          value: 'contemporary',
        },
        {
          text: 'Mid-Century',
          value: 'mid-century',
        },
        {
          text: 'Tropical',
          value: 'tropical',
        },
        {
          text: 'Country',
          value: 'country',
        },
        {
          text: 'Farmhouse',
          value: 'farmhouse',
        }
        ],
    };
  },
}
</script>
