<template>
  <v-card>
    <v-card-text>
      <div>
        <h2 class="mb-7">{{ tema.title }}</h2>
      </div>
      <br />
      <v-row>
        <v-col cols="12" sm="12" lg="4">
          <v-card max-width="344">
            <v-img src="https://telegra.ph/file/aaacd89e03df977589c4b.jpg" height="200px"></v-img>
            <v-card-title>
              .Rustic Wood.
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn icon @click="show = !show">
                <v-icon>{{ show? 'mdi-chevron-up': 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-actions>
            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>
                <v-card-text>
                  Tray dengan bahan kayu solid sangat cocok untuk kalian yang memilih tema rustic. Terlihat klasik dan
                  elegan.
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-3">
        <v-spacer></v-spacer>
        <v-btn depressed color="primary">
          Tambah?
        </v-btn>
      </v-row>

    </v-card-text>

  </v-card>
</template>

<script>
export default {

  data() {
    return {
      tema: {
        title: "Tema Memorable_box",

      },
      show: false,
      alert,
    };
  },
}
</script>
