<script setup lang="ts">
import { ref, watch } from "vue";
import sidebarItems from "./sidebarItems";

const sidebarMenu = ref(sidebarItems);
</script>

<template>
  <div>
    <!-- ---------------------------------------------- -->
    <!---Navigation -->
    <!-- ---------------------------------------------- -->
    <div class="scrollnavbar">
      <v-list-item
        class="pa-4"
        prepend-avatar="https://telegra.ph/file/8b513cc077bd21f8d9a93.png"
        title="Memorable_Box"
        subtitle="Box Seserahan malang"
      />
      <v-list class="pa-4">
        <!-- ---------------------------------------------- -->
        <!---Menu Loop -->
        <!-- ---------------------------------------------- -->
        <template v-for="(item, i) in sidebarMenu" :key="i">
          <!-- ---------------------------------------------- -->
          <!---Single Item-->
          <!-- ---------------------------------------------- -->
          <v-list-item :to="item.to" rounded="lg" class="mb-1">
            <v-list-item-avatar start class="v-list-item-avatar--start">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item>
        </template>
      </v-list>
      <div class="pa-4 ma-4 bg-light-primary rounded-lg text-center">
        <v-btn
          color="primary"
          href="https://api.whatsapp.com/send?phone=085930258437&text=Error%20mas"
          block
          >Error? Just call admin</v-btn
        >
      </div>
    </div>
  </div>
</template>
